{% extends "base.html" %}

{% block title %}Producto{% endblock %} 

{% block content %}
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Producto</h5>
            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto">Agregar Producto</button>
            <table class="table table-bordered table-striped table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Código Producto</th>
                        <th scope="col">Descripcion Producto</th>
                        <th scope="col">Precio Producto</th>
                        <th scope="col">Nombre Producto</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pro in productos %}
                        <tr>
                            <td>{{ pro.idproducto }}</td>
                            <td>{{ pro.codigoproducto }}</td>
                            <td>{{ pro.descripcionproducto }}</td>
                            <td>{{ pro.precioproducto }}</td>
                            <td>{{ pro.nombreproducto }}</td>
                            <td><button type="button" class="btn btn-primary btn-sm" onclick="editarProducto('{{ pro.idproducto }}', '{{ pro.codigoproducto }}', '{{ pro.descripcionproducto }}', '{{ pro.precioproducto }}','{{ pro.nombreproducto }}')">Editar</button></td>
                            <td><a href="{{ url_for('eliminar_producto', id_producto=pro.idproducto) }}" class="btn btn-danger btn-sm">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal para agregar Producto -->
<div class="modal fade" id="modalAgregarProducto" tabindex="-1" aria-labelledby="modalAgregarProductoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarProductoLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('agregar_producto') }}" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="codigoproducto" class="form-label">Código Producto</label>
                        <input type="text" class="form-control" id="codigoproducto" name="codigoproducto">
                    </div>
                    <div class="mb-3">
                        <label for="descripcionproducto" class="form-label">Descripcion Producto</label>
                        <input type="text" class="form-control" id="descripcionproducto" name="descripcionproducto">
                    </div>
                    <div class="mb-3">
                        <label for="precioproducto" class="form-label">Precio Producto</label>
                        <input type="text" class="form-control" id="precioproducto" name="precioproducto">
                    </div>
                    <div class="mb-3">
                        <label for="nombreproducto" class="form-label">Nombre Producto</label>
                        <input type="text" class="form-control" id="nombreproducto" name="nombreproducto">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
