{% extends "base.html" %}

{% block title %}Cliente{% endblock %} 

{% block content %}

<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Vendedor</h5>


            <!-- Botón para abrir modal de agregar vendedor -->
            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregarVendedor">Agregar Vendedor</button>

            <!-- Tabla -->
            <table class="table table-bordered table table-striped table table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Vendedor</th>
                        <th scope="col">Apellido Materno Vendedor</th>
                        <th scope="col">Apellido Paterno Vendedor</th>
                        <th scope="col">Código Vendedor</th>
                        <th scope="col">CI Vendedor</th>
                        <th scope="col">Zona Vendedor</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ven in vendedores %}
                        <tr>
                            <td>{{ ven.idvendedor }}</td>
                            <td>{{ ven.nombrevendedor }}</td>
                            <td>{{ ven.apellidomaternovendedor}}</td>
                            <td>{{ ven.apellidopaternovendedor }}</td>
                            <td>{{ ven.codigovendedor }}</td>
                            <td>{{ ven.civendedor }}</td>
                            <td>{{ ven.zonavendedor }}</td>
                            <td>{{ ven.salario }}</td>

                                <button type="button" class="btn btn-primary btn-sm" onclick="editarVendedor('{{ven.idvendedor}}', '{{ven.nombrevendedor}}', '{{ ven.apellidomaternovendedor }}', '{{ ven.apellidopaternovendedor }}', '{{ ven.codigovendedor }}', '{{ ven.civendedor }}', '{{ ven.zonavendedor }}', '{{ven.salario }}')">Editar</button>
                            </td>
                            <td><a href="{{ url_for('eliminar_vendedor', id_vendedor=ven.idvendedor) }}" class="btn btn-danger btn-sm">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal para agregar Vendedor -->
<div class="modal fade" id="modalAgregarVendedor" tabindex="-1" aria-labelledby="modalAgregarVendedorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarVendedorLabel">Agregar Vendedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/vendedor/agregar" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombrevendedor" class="form-label">Nombre Vendedor</label>
                        <input type="text" class="form-control" id="nombrevendedor" name="nombrevendedor">
                    </div>
                    <div class="mb-3">
                        <label for="apellidomaternovendedor" class="form-label">Apellido Materno Vendedor</label>
                        <input type="text" class="form-control" id="apellidomaternovendedor" name="apellidomaternovendedor">
                    </div>
                    <div class="mb-3">
                        <label for="apellidopaternovendedor" class="form-label">Apellido Paterno Vendedor</label>
                        <input type="text" class="form-control" id="apellidopaternovendedor" name="apellidopaternovendedor">
                    </div>
                    <div class="mb-3">
                        <label for="codigovendedor" class="form-label">Código Vendedor</label>
                        <input type="text" class="form-control" id="codigovendedor" name="codigovendedor">
                    </div>
                    <div class="mb-3">
                        <label for="civendedor" class="form-label">CI Vendedor</label>
                        <input type="text" class="form-control" id="civendedor" name="civendedor">
                    </div>
                    <div class="mb-3">
                        <label for="zonavendedor" class="form-label">Zona Vendedor</label>
                        <input type="text" class="form-control" id="zonavendedor" name="zonavendedor">
                    </div>
                    <div class="mb-3">
                        <label for="salario" class="form-label">Salario</label>
                        <input type="text" class="form-control" id="salario" name="salario">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            
            
        </div>
    </div>
</div>
<!-- Fin Modal para agregar Vendedor-->

<!-- Modal para editar Vendedor -->
<div class="modal fade" id="modalEditarVender" tabindex="-1" aria-labelledby="modalEditarVendedorLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title" id="modalEditarVendedorLabel">Editar Vendedor</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="editarVendedorForm" action="/vendedor/editar/" method="POST">

    <div class="modal-body">
        <input type="hidden" id="editarIdVendedor" name="idvendedor">
        <div class="mb-3">
            <label for="editarnombrevendedor" class="form-label">Nombre Vendedor</label>
            <input type="text" class="form-control" id="editarnombrevendedor" name="nombrevendedor">
        </div>
        <div class="mb-3">
            <label for="editarapellidomaternovendedor" class="form-label">Apellido Materno Vendedor</label>
            <input type="text" class="form-control" id="editarapellidomaternovendedor" name="apellidomaternovendedor">
        </div>
        <div class="mb-3">
            <label for="editarapellidopaternovendedor" class="form-label">Apellido Paterno Vendedor</label>
            <input type="text" class="form-control" id="editarapellidopaternovendedor" name="apellidopaternovendedor">
        </div>
        <div class="mb-3">
            <label for="editarcodigovendedor" class="form-label">Código Vendedor</label>
            <input type="text" class="form-control" id="editarcodigovendedor" name="codigovendedor">
        </div>
        <div class="mb-3">
            <label for="editarcivendedor" class="form-label">CI Vendedor</label>
            <input type="text" class="form-control" id="editarcivendedor" name="civendedor">
        </div>
        <div class="mb-3">
            <label for="editarzonavendedor" class="form-label">Zona Vendedor</label>
            <input type="text" class="form-control" id="editarzonavendedor" name="zonavendedor">
        </div>
        <div class="mb-3">
            <label for="editarsalario" class="form-label">Salario</label>
            <input type="text" class="form-control" id="editarsalario" name="salario">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
</form>
</div>
</div>
</div>




{% endblock content %}
{% block javascripts %}
<script src="{{ url_for('static', filename='js/scriptVendedor.js') }}"></script>
{% endblock javascripts %}



</body>
</html>